---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: yakup
  namespace: ibidem-system
  labels:
    app: yakup
spec:
  replicas: 1
  selector:
    matchLabels:
      app: yakup
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: yakup
    spec:
      containers:
      - image: "{{ environ('image') }}:{{ environ('VERSION') }}"
        imagePullPolicy: IfNotPresent
        name: yakup
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
      serviceAccountName: yakup
