---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: yakup
  namespace: ibidem-system
  labels:
    app: yakup
spec:
  replicas: 1
  selector:
    matchLabels:
      app: yakup
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: yakup
    spec:
      containers:
      - {% if image is defined and image|length %}image: "{{ image }}:{{ version }}"{% else %}image: "{{ environ('image') }}:{{ environ('VERSION') }}"{% endif %}
        imagePullPolicy: IfNotPresent
        name: yakup
        env:
          - name: OTEL_EXPORTER_OTLP_ENDPOINT
            value: "http://opentelemetry-collector.opentelemetry:4317"
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
      serviceAccountName: yakup
